<mat-card>

    <mat-card-title>
        Cadastrar Produto
    </mat-card-title>

    <form>
        <mat-form-field>
            <!--matInput é uma diretiva-->
            <!--Utilizando Two Way Data Binding com ngModel que é uma diretiva não estrutural que foi feita a ligação com o nome do produto-->
            <!--ngModel é responsável pelo Two Way Data Binding-->
            <input matInput placeholder="Nome" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" [(ngModel)]="product.price" name="price">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createProduct()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>
