<!--- Isso é um template de Material que importamos no início-->

<mat-toolbar class="footer">
    <span>       
        <!-- Adicionei o red (localizada no css global) que é uma classe sem usar o class, devido
             ao material que serve pra isso -->
             <!--att: Adicionei appRed que é uma diretiva-->
        <i class="material-icons v-middle " appRed> 
            book
        </i>
        Estudando <strong><span class="purple">Angular</span></strong>
    </span>
</mat-toolbar>