/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*CSS GLOBAL */

.red {
    color: rgb(227, 94, 107);
}

.purple {
    color: rgb(128, 0, 128);
}

/* Classe para alinhar ícones*/
.v-middle {
   vertical-align: middle; 
}